openapi: 3.2.0
info:
  title: Basis Platform Analytics API
  version: v1
  description: '# Introduction


    The Basis API is designed to be easy to use and simple to test to help customers

    and partners get up and running quickly.'
servers:
- url: https://api.basis.net
tags:
- name: Analytics
paths:
  /v1/me:
    get:
      tags:
      - Analytics
      description: Returns the currently authenticated user
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      first_name:
                        type: string
                      last_name:
                        type: string
                      email:
                        type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: User not found
          content:
            application/json:
              schema:
                description: User not found
                type: object
                properties: {}
      summary: Get me
      x-summary-source: derived
      operationId: getV1Me
      x-operation-id-source: derived
  /v1/agency:
    get:
      tags:
      - Analytics
      description: Returns details for the agency, the organization representing a buyer.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      dsp_advertiser_id:
                        type: string
                      created_at:
                        type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
      summary: Get agency
      x-summary-source: derived
      operationId: getV1Agency
      x-operation-id-source: derived
  /v1/brands/{id}:
    get:
      tags:
      - Analytics
      description: Returns details for one brand.
      parameters:
      - schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        in: path
        name: id
        required: true
        description: Identifies a single brand.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifies a single brand.
                      name:
                        type: string
                        description: The name of the brand.
                      created_at:
                        type: string
                      verticals:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Identifies a single vertical.
                            name:
                              type: string
                              description: The name of the vertical.
                            created_at:
                              type: string
                              description: The date and time the vertical was added.
                            subverticals:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Identifies a single sub-vertical.
                                  name:
                                    type: string
                                    description: The name of the sub-vertical.
                                  created_at:
                                    type: string
                                    description: The date and time the sub-vertical was added.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Brand not found
          content:
            application/json:
              schema:
                description: Brand not found
                type: object
                properties: {}
      summary: Get brands by id
      x-summary-source: derived
      operationId: getV1BrandsById
      x-operation-id-source: derived
  /v1/brands:
    get:
      tags:
      - Analytics
      description: Lists all brands.
      parameters:
      - schema:
          type: string
        in: query
        name: cursor
        required: false
        description: Used to paginate through the list of records. Don't set this parameter to see the first page of records, then check the metadata object in the response for the cursor to use to fetch the next page.
      - schema:
          type: string
        in: query
        name: query
        required: false
        description: Used to refine the results by a chosen parameter. Valid parameters = name
      - schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        in: query
        name: client_id
        required: false
        description: Identifies a single client. Set this parameter to limit the brands to the specified client.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  metadata:
                    type: object
                    properties:
                      cursor:
                        type:
                        - 'null'
                        - string
                        description: Use this cursor value in your next call to this endpoint to return the next set of items
                      page_size:
                        type: integer
                      total:
                        type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifies a single brand.
                        name:
                          type: string
                          description: The name of the brand.
                        created_at:
                          type: string
                        verticals:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Identifies a single vertical.
                              name:
                                type: string
                                description: The name of the vertical.
                              created_at:
                                type: string
                                description: The date and time the vertical was added.
                              subverticals:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Identifies a single sub-vertical.
                                    name:
                                      type: string
                                      description: The name of the sub-vertical.
                                    created_at:
                                      type: string
                                      description: The date and time the sub-vertical was added.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
      summary: Get brands
      x-summary-source: derived
      operationId: getV1Brands
      x-operation-id-source: derived
  /v1/clients/{id}:
    get:
      tags:
      - Analytics
      description: Returns details for one client. An agency can represent multiple clients, and each client can have multiple brands.
      parameters:
      - schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        in: path
        name: id
        required: true
        description: Identifies a single client.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifies a single client.
                      name:
                        type: string
                      billing_name:
                        type:
                        - 'null'
                        - string
                      contact_first_name:
                        type:
                        - 'null'
                        - string
                      contact_last_name:
                        type:
                        - 'null'
                        - string
                      contact_email:
                        type:
                        - 'null'
                        - string
                      contact_phone:
                        type:
                        - 'null'
                        - string
                      contact_extension:
                        type:
                        - 'null'
                        - string
                      notes:
                        type:
                        - 'null'
                        - string
                      created_at:
                        type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Client not found
          content:
            application/json:
              schema:
                description: Client not found
                type: object
                properties: {}
      summary: Get clients by id
      x-summary-source: derived
      operationId: getV1ClientsById
      x-operation-id-source: derived
  /v1/clients:
    get:
      tags:
      - Analytics
      description: Lists all clients.
      parameters:
      - schema:
          type: string
        in: query
        name: cursor
        required: false
        description: Used to paginate through the list of records. Don't set this parameter to see the first page of records, then check the metadata object in the response for the cursor to use to fetch the next page.
      - schema:
          type: string
        in: query
        name: query
        required: false
        description: Used to refine the results by a chosen parameter. Valid parameters are name, contact_first_name, contact_last_name, contact_email, billing_name, notes
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  metadata:
                    type: object
                    properties:
                      cursor:
                        type:
                        - 'null'
                        - string
                        description: Use this cursor value in your next call to this endpoint to return the next set of items
                      page_size:
                        type: integer
                      total:
                        type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifies a single client.
                        name:
                          type: string
                        billing_name:
                          type:
                          - 'null'
                          - string
                        contact_first_name:
                          type:
                          - 'null'
                          - string
                        contact_last_name:
                          type:
                          - 'null'
                          - string
                        contact_email:
                          type:
                          - 'null'
                          - string
                        contact_phone:
                          type:
                          - 'null'
                          - string
                        contact_extension:
                          type:
                          - 'null'
                          - string
                        notes:
                          type:
                          - 'null'
                          - string
                        created_at:
                          type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
      summary: Get clients
      x-summary-source: derived
      operationId: getV1Clients
      x-operation-id-source: derived
  /v1/vendors/{id}:
    get:
      tags:
      - Analytics
      description: Returns details for one vendor, an entity or organization selling and offering products, content, or services for payment. Examples of vendors would include the owners of websites that offer advertisement space and exchanges that offers ad space on multiple websites.
      parameters:
      - schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        in: path
        name: id
        required: true
        description: Identifies a single vendor.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifies a single vendor.
                      name:
                        type: string
                      type:
                        type: string
                      created_at:
                        type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Vendor not found
          content:
            application/json:
              schema:
                description: Vendor not found
                type: object
                properties: {}
      summary: Get vendors by id
      x-summary-source: derived
      operationId: getV1VendorsById
      x-operation-id-source: derived
  /v1/vendors:
    get:
      tags:
      - Analytics
      description: Lists all vendors, entities or organizations selling and offering products, content, or services for payment. Examples of vendors would include the owners of websites that offer advertisement space and exchanges that offers ad space on multiple websites.
      parameters:
      - schema:
          type: string
        in: query
        name: cursor
        required: false
        description: Used to paginate through the list of records. Don't set this parameter to see the first page of records, then check the metadata object in the response for the cursor to use to fetch the next page.
      - schema:
          type: string
        in: query
        name: query
        required: false
        description: Used to refine the results by a chosen parameter. Valid parameters = name
      - schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        in: query
        name: campaign_id
        required: false
        description: Identifies a single campaign.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  metadata:
                    type: object
                    properties:
                      cursor:
                        type:
                        - 'null'
                        - string
                        description: Use this cursor value in your next call to this endpoint to return the next set of items
                      page_size:
                        type: integer
                      total:
                        type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifies a single vendor.
                        name:
                          type: string
                        type:
                          type: string
                        created_at:
                          type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
      summary: Get vendors
      x-summary-source: derived
      operationId: getV1Vendors
      x-operation-id-source: derived
  /v1/properties/{id}:
    get:
      tags:
      - Analytics
      description: Returns details for one property--inventory (advertising space) available for sale, often a website or network.
      parameters:
      - schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        in: path
        name: id
        required: true
        description: Identifies a single property.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifies a single property.
                      name:
                        type: string
                      type:
                        type: string
                      url:
                        type:
                        - 'null'
                        - string
                      created_at:
                        type: string
                      verticals:
                        type: array
                        items:
                          type: string
                          description: Identifies a single vertical.
                  included:
                    type: object
                    properties:
                      verticals:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            created_at:
                              type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Property not found
          content:
            application/json:
              schema:
                description: Property not found
                type: object
                properties: {}
      summary: Get properties by id
      x-summary-source: derived
      operationId: getV1PropertiesById
      x-operation-id-source: derived
  /v1/properties:
    get:
      tags:
      - Analytics
      description: Lists all properties, inventory (advertising space) available for sale, often websites or networks.
      parameters:
      - schema:
          type: string
        in: query
        name: cursor
        required: false
        description: Used to paginate through the list of records. Don't set this parameter to see the first page of records, then check the metadata object in the response for the cursor to use to fetch the next page.
      - schema:
          type: string
        in: query
        name: query
        required: false
        description: Used to refine the results by a chosen parameter. Valid parameters = name
      - schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        in: query
        name: campaign_id
        required: false
        description: Identifies a single campaign.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  metadata:
                    type: object
                    properties:
                      cursor:
                        type:
                        - 'null'
                        - string
                        description: Use this cursor value in your next call to this endpoint to return the next set of items
                      page_size:
                        type: integer
                      total:
                        type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifies a single property.
                        name:
                          type: string
                        type:
                          type: string
                        url:
                          type:
                          - 'null'
                          - string
                        created_at:
                          type: string
                        verticals:
                          type: array
                          items:
                            type: string
                            description: Identifies a single vertical.
                  included:
                    type: object
                    properties:
                      verticals:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            created_at:
                              type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
      summary: Get properties
      x-summary-source: derived
      operationId: getV1Properties
      x-operation-id-source: derived
  /v1/campaigns/{id}:
    get:
      tags:
      - Analytics
      description: Returns details for a single campaign.
      parameters:
      - schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        in: path
        name: id
        required: true
        description: Identifies a single campaign.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifies a single campaign.
                      name:
                        type: string
                      ugcid:
                        type: string
                      initiative_name:
                        type: string
                      status:
                        type: string
                      approved_budget:
                        type: number
                      start_date:
                        type:
                        - 'null'
                        - string
                      end_date:
                        type:
                        - 'null'
                        - string
                      client_id:
                        type: string
                        description: Identifies a single client.
                      brand_id:
                        type: string
                        description: Identifies a single brand.
                      created_at:
                        type: string
                      objectives:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Identifies a single objective.
                            name:
                              type: string
                            kpi_name:
                              type: string
                            goal:
                              type: number
                            other_objective_type_description:
                              type:
                              - 'null'
                              - string
                            other_kpi_description:
                              type:
                              - 'null'
                              - string
                            created_at:
                              type: string
                      account_team:
                        type: array
                        items:
                          type: string
                          description: Identifies a single user on the account team.
                  included:
                    type: object
                    properties:
                      account_team_users:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            first_name:
                              type: string
                            last_name:
                              type: string
                            email:
                              type: string
                            created_at:
                              type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                description: Campaign not found
                type: object
                properties: {}
      summary: Get campaigns by id
      x-summary-source: derived
      operationId: getV1CampaignsById
      x-operation-id-source: derived
  /v1/campaigns:
    get:
      tags:
      - Analytics
      description: Lists all campaigns.
      parameters:
      - schema:
          type: string
        in: query
        name: cursor
        required: false
        description: Used to paginate through the list of records. Don't set this parameter to see the first page of records, then check the metadata object in the response for the cursor to use to fetch the next page.
      - schema:
          type: string
        in: query
        name: query
        required: false
        description: Used to refine the results by a chosen parameter. Valid parameters are name, ugcid, initiative_name
      - schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        in: query
        name: client_id
        required: false
        description: Identifies a single client. Set this parameter to limit the campaigns to the specified client.
      - schema:
          type: string
          enum:
          - live
          - approved
          - completed
        in: query
        name: status
        required: false
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  metadata:
                    type: object
                    properties:
                      cursor:
                        type:
                        - 'null'
                        - string
                        description: Use this cursor value in your next call to this endpoint to return the next set of items
                      page_size:
                        type: integer
                      total:
                        type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifies a single campaign.
                        name:
                          type: string
                        ugcid:
                          type: string
                        initiative_name:
                          type: string
                        status:
                          type: string
                        approved_budget:
                          type: number
                        start_date:
                          type:
                          - 'null'
                          - string
                        end_date:
                          type:
                          - 'null'
                          - string
                        client_id:
                          type: string
                          description: Identifies a single client.
                        brand_id:
                          type: string
                          description: Identifies a single brand.
                        created_at:
                          type: string
                        objectives:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Identifies a single objective.
                              name:
                                type: string
                              kpi_name:
                                type: string
                              goal:
                                type: number
                              other_objective_type_description:
                                type:
                                - 'null'
                                - string
                              other_kpi_description:
                                type:
                                - 'null'
                                - string
                              created_at:
                                type: string
                        account_team:
                          type: array
                          items:
                            type: string
                            description: Identifies a single user on the account team.
                  included:
                    type: object
                    properties:
                      account_team_users:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            first_name:
                              type: string
                            last_name:
                              type: string
                            email:
                              type: string
                            created_at:
                              type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
      summary: Get campaigns
      x-summary-source: derived
      operationId: getV1Campaigns
      x-operation-id-source: derived
  /v1/campaigns/{campaign_id}/line_items/{id}:
    get:
      tags:
      - Analytics
      description: Returns details for a single line item.
      parameters:
      - schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        in: path
        name: campaign_id
        required: true
        description: Identifies a single campaign.
      - schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        in: path
        name: id
        required: true
        description: Identifies a single line item.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifies a single line item.
                      lineage:
                        type: string
                      campaign_id:
                        type: string
                        description: Identifies a single campaign.
                        pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
                      property_id:
                        type:
                        - 'null'
                        - string
                        description: Identifies a single property.
                        pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
                      vendor_id:
                        type:
                        - 'null'
                        - string
                        description: Identifies a single vendor.
                        pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
                      name:
                        type: string
                        description: The name of the line item.
                      type:
                        type: string
                        enum:
                        - direct
                        - dsp
                      media_plan:
                        type: string
                      start_date:
                        type: string
                        description: The first day impressions can be delivered for the line item.
                      end_date:
                        type: string
                        description: The last day impressions can be delivered for the line item.
                      ad_sizes:
                        type: array
                        items:
                          type: string
                        description: An array of eligible creative dimensions.
                      formats:
                        type: array
                        items:
                          type: string
                        description: An array of eligible creative formats (audio, display, interstitial, video).
                      platforms:
                        type: array
                        items:
                          type: string
                        description: An array of eligible platforms (web browser, mobile, tablet).
                      rate_type:
                        type: string
                        description: Determines how cost is measured for the line item (CPM, CPC, flat, etc.).
                      total_spend_contracted:
                        type: number
                        description: The agreed on gross spend.
                      amount_gain_loss_contracted:
                        type: number
                        description: The agreed on gain or loss, gross cost - media cost - ad serving cost.
                      margin_pct_contracted:
                        type: number
                        description: The agreed margin percentage.
                      media_rate:
                        type: number
                      media_contracted_units:
                        type: number
                        description: The agreed-on units (impressions, clicks, video plays, etc.) to be delivered.
                      media_spend_contracted:
                        type: number
                        description: The agreed-on amount to spend on media.
                      ad_serving_rate_type:
                        type: string
                        description: Determines how ad serving costs are is measured.
                      ad_server:
                        type:
                        - 'null'
                        - string
                      ad_serving_cost:
                        type: number
                      ad_serving_rate:
                        type: number
                      ad_serving_estimated_clicks:
                        type: number
                      ad_serving_estimated_impressions:
                        type: number
                      ad_serving_spend_contracted:
                        type: number
                      kpi_id:
                        type:
                        - 'null'
                        - string
                        description: Identifies a single Key Performance Indicator (KPI).
                        pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
                      kpi_goal:
                        type: number
                        description: The goal set for the Key Performance Indicator (KPI).
                      advertising_channel:
                        type: string
                        description: Identifies the advertising channel a Planning User associated to the line item.
                  included:
                    type: object
                    properties:
                      media_plans:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Identifies a single media plan.
                              pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
                            name:
                              type: string
                            approval_version:
                              type: number
                            approved_at:
                              type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Campaign or line item not found
          content:
            application/json:
              schema:
                description: Campaign or line item not found
                type: object
                properties: {}
      summary: Get campaigns by campaign id line items by id
      x-summary-source: derived
      operationId: getV1CampaignsByCampaignIdLineItemsById
      x-operation-id-source: derived
  /v1/campaigns/{campaign_id}/line_items:
    get:
      tags:
      - Analytics
      description: Lists all line items for one campaign.
      parameters:
      - schema:
          type: string
        in: query
        name: cursor
        required: false
        description: Used to paginate through the list of records. Don't set this parameter to see the first page of records, then check the metadata object in the response for the cursor to use to fetch the next page.
      - schema:
          type: string
        in: query
        name: query
        required: false
        description: Used to refine the results by a chosen parameter. Valid parameter = name
      - schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        in: path
        name: campaign_id
        required: true
        description: Identifies a single campaign.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  metadata:
                    type: object
                    properties:
                      cursor:
                        type:
                        - 'null'
                        - string
                        description: Use this cursor value in your next call to this endpoint to return the next set of items
                      page_size:
                        type: integer
                      total:
                        type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifies a single line item.
                        lineage:
                          type: string
                        campaign_id:
                          type: string
                          description: Identifies a single campaign.
                          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
                        property_id:
                          type:
                          - 'null'
                          - string
                          description: Identifies a single property.
                          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
                        vendor_id:
                          type:
                          - 'null'
                          - string
                          description: Identifies a single vendor.
                          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
                        name:
                          type: string
                          description: The name of the line item.
                        type:
                          type: string
                          enum:
                          - direct
                          - dsp
                        media_plan:
                          type: string
                        start_date:
                          type: string
                          description: The first day impressions can be delivered for the line item.
                        end_date:
                          type: string
                          description: The last day impressions can be delivered for the line item.
                        ad_sizes:
                          type: array
                          items:
                            type: string
                          description: An array of eligible creative dimensions.
                        formats:
                          type: array
                          items:
                            type: string
                          description: An array of eligible creative formats (audio, display, interstitial, video).
                        platforms:
                          type: array
                          items:
                            type: string
                          description: An array of eligible platforms (web browser, mobile, tablet).
                        rate_type:
                          type: string
                          description: Determines how cost is measured for the line item (CPM, CPC, flat, etc.).
                        total_spend_contracted:
                          type: number
                          description: The agreed on gross spend.
                        amount_gain_loss_contracted:
                          type: number
                          description: The agreed on gain or loss, gross cost - media cost - ad serving cost.
                        margin_pct_contracted:
                          type: number
                          description: The agreed margin percentage.
                        media_rate:
                          type: number
                        media_contracted_units:
                          type: number
                          description: The agreed-on units (impressions, clicks, video plays, etc.) to be delivered.
                        media_spend_contracted:
                          type: number
                          description: The agreed-on amount to spend on media.
                        ad_serving_rate_type:
                          type: string
                          description: Determines how ad serving costs are is measured.
                        ad_server:
                          type:
                          - 'null'
                          - string
                        ad_serving_cost:
                          type: number
                        ad_serving_rate:
                          type: number
                        ad_serving_estimated_clicks:
                          type: number
                        ad_serving_estimated_impressions:
                          type: number
                        ad_serving_spend_contracted:
                          type: number
                        kpi_id:
                          type:
                          - 'null'
                          - string
                          description: Identifies a single Key Performance Indicator (KPI).
                          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
                        kpi_goal:
                          type: number
                          description: The goal set for the Key Performance Indicator (KPI).
                        advertising_channel:
                          type: string
                          description: Identifies the advertising channel a Planning User associated to the line item.
                  included:
                    type: object
                    properties:
                      media_plans:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Identifies a single media plan.
                              pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
                            name:
                              type: string
                            approval_version:
                              type: number
                            approved_at:
                              type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
      summary: Get campaigns by campaign id line items
      x-summary-source: derived
      operationId: getV1CampaignsByCampaignIdLineItems
      x-operation-id-source: derived
  /v1/campaigns/{campaign_id}/addons/{id}:
    get:
      tags:
      - Analytics
      description: Returns details for a single add-on. An add-on is a fee for a service that is billed outside of the campaign's line items.
      parameters:
      - schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        in: path
        name: campaign_id
        required: true
        description: Identifies a single campaign.
      - schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        in: path
        name: id
        required: true
        description: Identifies a single add-on.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifies a single add-on.
                      lineage:
                        type: string
                      campaign_id:
                        type: string
                        description: Identifies a single campaign.
                      name:
                        type: string
                        description: The add-on's name.
                      start_date:
                        type: string
                        description: The add-on's start date.
                      end_date:
                        type: string
                        description: The add-on's end date.
                      addon_spend_contracted:
                        type: number
                        description: The amount contracted to spend on the add-on.
                      addon_spend:
                        type: number
                        description: The amount actually spent on the add-on.
                      media_plan:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Identifies a single media plan.
                          name:
                            type: string
                            description: The media plan's name.
                          approval_version:
                            type: number
                          approved_at:
                            type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Campaign or add-on not found
          content:
            application/json:
              schema:
                description: Campaign or add-on not found
                type: object
                properties: {}
      summary: Get campaigns by campaign id addons by id
      x-summary-source: derived
      operationId: getV1CampaignsByCampaignIdAddonsById
      x-operation-id-source: derived
  /v1/campaigns/{campaign_id}/addons:
    get:
      tags:
      - Analytics
      description: Lists add-ons for a single campaign. An add-on is a fee for an additional service that is billed outside of line items.
      parameters:
      - schema:
          type: string
        in: query
        name: cursor
        required: false
        description: Used to paginate through the list of records. Don't set this parameter to see the first page of records, then check the metadata object in the response for the cursor to use to fetch the next page.
      - schema:
          type: string
        in: query
        name: query
        required: false
        description: Used to refine the results by a chosen parameter. Valid parameters = name
      - schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        in: path
        name: campaign_id
        required: true
        description: Identifies a single campaign.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  metadata:
                    type: object
                    properties:
                      cursor:
                        type:
                        - 'null'
                        - string
                        description: Use this cursor value in your next call to this endpoint to return the next set of items
                      page_size:
                        type: integer
                      total:
                        type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifies a single add-on.
                        lineage:
                          type: string
                        campaign_id:
                          type: string
                          description: Identifies a single campaign.
                        name:
                          type: string
                          description: The add-on's name.
                        start_date:
                          type: string
                          description: The add-on's start date.
                        end_date:
                          type: string
                          description: The add-on's end date.
                        addon_spend_contracted:
                          type: number
                          description: The amount contracted to spend on the add-on.
                        addon_spend:
                          type: number
                          description: The amount actually spent on the add-on.
                        media_plan:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Identifies a single media plan.
                            name:
                              type: string
                              description: The media plan's name.
                            approval_version:
                              type: number
                            approved_at:
                              type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                description: Campaign not found
                type: object
                properties: {}
      summary: Get campaigns by campaign id addons
      x-summary-source: derived
      operationId: getV1CampaignsByCampaignIdAddons
      x-operation-id-source: derived
  /v1/verticals/{id}:
    get:
      tags:
      - Analytics
      description: Returns details for a single vertical, the market or category type for a vendor, property, or brand.
      parameters:
      - schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        in: path
        name: id
        required: true
        description: Identifies a single vertical.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifies a single vertical.
                      name:
                        type: string
                      created_at:
                        type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Vertical not found
          content:
            application/json:
              schema:
                description: Vertical not found
                type: object
                properties: {}
      summary: Get verticals by id
      x-summary-source: derived
      operationId: getV1VerticalsById
      x-operation-id-source: derived
  /v1/verticals:
    get:
      tags:
      - Analytics
      description: Lists all verticals, the market or category types for a vendor, property, or brand.
      parameters:
      - schema:
          type: string
        in: query
        name: cursor
        required: false
        description: Used to paginate through the list of records. Don't set this parameter to see the first page of records, then check the metadata object in the response for the cursor to use to fetch the next page.
      - schema:
          type: string
        in: query
        name: query
        required: false
        description: Used to refine the results by a chosen parameter. Valid parameter = name
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  metadata:
                    type: object
                    properties:
                      cursor:
                        type:
                        - 'null'
                        - string
                        description: Use this cursor value in your next call to this endpoint to return the next set of items
                      page_size:
                        type: integer
                      total:
                        type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifies a single vertical.
                        name:
                          type: string
                        created_at:
                          type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
      summary: Get verticals
      x-summary-source: derived
      operationId: getV1Verticals
      x-operation-id-source: derived
  /v1/kpis/{id}:
    get:
      tags:
      - Analytics
      description: Returns details for a single Key Performance Indicator (KPI).
      parameters:
      - schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        in: path
        name: id
        required: true
        description: Identifies a single Key Performance Indicator (KPI).
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifies a single Key Performance Indicator (KPI).
                      name:
                        type: string
                      goal_type:
                        type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: KPI not found
          content:
            application/json:
              schema:
                description: KPI not found
                type: object
                properties: {}
      summary: Get kpis by id
      x-summary-source: derived
      operationId: getV1KpisById
      x-operation-id-source: derived
  /v1/kpis:
    get:
      tags:
      - Analytics
      description: Lists all Key Performance Indicators (KPI)
      parameters:
      - schema:
          type: string
        in: query
        name: cursor
        required: false
        description: Used to paginate through the list of records. Don't set this parameter to see the first page of records, then check the metadata object in the response for the cursor to use to fetch the next page.
      - schema:
          type: string
        in: query
        name: query
        required: false
        description: Used to refine the results by a chosen parameter. Valid parameter = name
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  metadata:
                    type: object
                    properties:
                      cursor:
                        type:
                        - 'null'
                        - string
                        description: Use this cursor value in your next call to this endpoint to return the next set of items
                      page_size:
                        type: integer
                      total:
                        type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifies a single Key Performance Indicator (KPI).
                        name:
                          type: string
                        goal_type:
                          type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
      summary: Get kpis
      x-summary-source: derived
      operationId: getV1Kpis
      x-operation-id-source: derived
  /v1/creatives/{id}:
    get:
      tags:
      - Analytics
      description: Returns details for a single creative.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Identifies a single creative.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifies a single creative.
                      external_source:
                        type: string
                        enum:
                        - gcm
                        - sizmek
                        - facebook
                        - adwords
                        - dsp
                        - upload
                        - linked_in
                        - ms_ads
                      external_ref:
                        type: string
                      media_type:
                        type:
                        - 'null'
                        - string
                      name:
                        type: string
                      ad_classification:
                        type:
                        - 'null'
                        - string
                      pixel_size:
                        type:
                        - 'null'
                        - string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Creative not found
          content:
            application/json:
              schema:
                description: Creative not found
                type: object
                properties: {}
      summary: Get creatives by id
      x-summary-source: derived
      operationId: getV1CreativesById
      x-operation-id-source: derived
  /v1/creatives:
    get:
      tags:
      - Analytics
      description: Lists all creatives.
      parameters:
      - schema:
          type: string
        in: query
        name: cursor
        required: false
        description: Used to paginate through the list of records. Don't set this parameter to see the first page of records, then check the metadata object in the response for the cursor to use to fetch the next page.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  metadata:
                    type: object
                    properties:
                      cursor:
                        type:
                        - 'null'
                        - string
                        description: Use this cursor value in your next call to this endpoint to return the next set of items
                      page_size:
                        type: integer
                      total:
                        type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifies a single creative.
                        external_source:
                          type: string
                          enum:
                          - gcm
                          - sizmek
                          - facebook
                          - adwords
                          - dsp
                          - upload
                          - linked_in
                          - ms_ads
                        external_ref:
                          type: string
                        media_type:
                          type:
                          - 'null'
                          - string
                        name:
                          type: string
                        ad_classification:
                          type:
                          - 'null'
                          - string
                        pixel_size:
                          type:
                          - 'null'
                          - string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
      summary: Get creatives
      x-summary-source: derived
      operationId: getV1Creatives
      x-operation-id-source: derived
  /v1/delivery_sources/{id}:
    get:
      tags:
      - Analytics
      description: Returns details for one delivery source.
      parameters:
      - schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[34][0-9a-fA-F]{3}-[89ab][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
        in: path
        name: id
        required: true
        description: Identifies a single delivery source.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The Basis delivery source ID.
                      external_source:
                        type: string
                        enum:
                        - gcm
                        - sizmek
                        - facebook
                        - adwords
                        - dsp
                        - upload
                        - linked_in
                        - ms_ads
                      external_id:
                        type: string
                      name:
                        type: string
                      size:
                        type:
                        - 'null'
                        - string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Delivery Source not found
          content:
            application/json:
              schema:
                description: Delivery Source not found
                type: object
                properties: {}
      summary: Get delivery sources by id
      x-summary-source: derived
      operationId: getV1DeliverySourcesById
      x-operation-id-source: derived
  /v1/delivery_sources:
    get:
      tags:
      - Analytics
      description: Lists all delivery sources, which provide delivery data used for statistics.
      parameters:
      - schema:
          type: string
        in: query
        name: cursor
        required: false
        description: Used to paginate through the list of records. Don't set this parameter to see the first page of records, then check the metadata object in the response for the cursor to use to fetch the next page.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  metadata:
                    type: object
                    properties:
                      cursor:
                        type:
                        - 'null'
                        - string
                        description: Use this cursor value in your next call to this endpoint to return the next set of items
                      page_size:
                        type: integer
                      total:
                        type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The Basis delivery source ID.
                        external_source:
                          type: string
                          enum:
                          - gcm
                          - sizmek
                          - facebook
                          - adwords
                          - dsp
                          - upload
                          - linked_in
                          - ms_ads
                        external_id:
                          type: string
                        name:
                          type: string
                        size:
                          type:
                          - 'null'
                          - string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
      summary: Get delivery sources
      x-summary-source: derived
      operationId: getV1DeliverySources
      x-operation-id-source: derived
  /v1/conversions/{id}:
    get:
      tags:
      - Analytics
      description: Returns details for a single conversion.
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9]{40}$
        in: path
        name: id
        required: true
        description: Identifies a single conversion.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      conversion_id:
                        type: string
                        description: Identifies a single conversion.
                      name:
                        type: string
                      external_source:
                        type: string
                        enum:
                        - gcm
                        - sizmek
                        - facebook
                        - adwords
                        - dsp
                        - upload
                        - linked_in
                        - ms_ads
                      external_ref:
                        type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Conversion not found
          content:
            application/json:
              schema:
                description: Conversion not found
                type: object
                properties: {}
      summary: Get conversions by id
      x-summary-source: derived
      operationId: getV1ConversionsById
      x-operation-id-source: derived
  /v1/conversions:
    get:
      tags:
      - Analytics
      description: Lists all conversions.
      parameters:
      - schema:
          type: string
        in: query
        name: cursor
        required: false
        description: Used to paginate through the list of records. Don't set this parameter to see the first page of records, then check the metadata object in the response for the cursor to use to fetch the next page.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  metadata:
                    type: object
                    properties:
                      cursor:
                        type:
                        - 'null'
                        - string
                        description: Use this cursor value in your next call to this endpoint to return the next set of items
                      page_size:
                        type: integer
                      total:
                        type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        conversion_id:
                          type: string
                          description: Identifies a single conversion.
                        name:
                          type: string
                        external_source:
                          type: string
                          enum:
                          - gcm
                          - sizmek
                          - facebook
                          - adwords
                          - dsp
                          - upload
                          - linked_in
                          - ms_ads
                        external_ref:
                          type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
      summary: Get conversions
      x-summary-source: derived
      operationId: getV1Conversions
      x-operation-id-source: derived
  /v1/groups/{id}:
    get:
      tags:
      - Analytics
      description: Returns details for a single Group.
      parameters:
      - schema:
          type: string
          pattern: ^[0-9]+$
        in: path
        name: id
        required: true
        description: Identifies a single group id. In the absence of this id, all groups that this user has access to should be returned.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: Identifies a single group.
                      name:
                        type: string
                        description: The display name for the requested group.
                      budget:
                        type: object
                        description: The budget settings for this group.
                        properties:
                          flight_dates:
                            type: object
                            description: The specific dates under which this group will run.
                            properties:
                              from:
                                type: string
                                description: Start date of the tactics within this group's flight.
                              to:
                                type: string
                                description: End date of the tactics within this group's flight.
                          even_delivery_enabled:
                            type: boolean
                            description: Set to True if the budget amount should be evenly delivered throughout the day.
                          type:
                            type: string
                            description: 'Budget type. Possible values are: all_time, daily'
                          amount:
                            type: string
                            description: Budget amount, USD
                      status:
                        type: string
                        description: The tactic's status controls whether campaigns in the group can bid on impressions.
                      pacing_setting:
                        type: string
                        description: Controls whether budget pacing is controlled at the group or tactic level.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                description: Group not found
                type: object
                properties: {}
      summary: Get groups by id
      x-summary-source: derived
      operationId: getV1GroupsById
      x-operation-id-source: derived
  /v1/groups:
    get:
      tags:
      - Analytics
      description: Lists all Groups.
      parameters:
      - schema:
          type: string
        in: query
        name: cursor
        required: false
        description: Used to paginate through the list of records. Don't set this parameter to see the first page of records, then check the metadata object in the response for the cursor to use to fetch the next page.
      - schema:
          type: string
        in: query
        name: query
        required: false
        description: Used to refine the results by a chosen parameter. Valid parameter = name
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  metadata:
                    type: object
                    properties:
                      cursor:
                        type:
                        - 'null'
                        - string
                        description: Use this cursor value in your next call to this endpoint to return the next set of items
                      page_size:
                        type: integer
                      total:
                        type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Identifies a single group.
                        name:
                          type: string
                          description: The display name for the requested group.
                        budget:
                          type: object
                          description: The budget settings for this group.
                          properties:
                            flight_dates:
                              type: object
                              description: The specific dates under which this group will run.
                              properties:
                                from:
                                  type: string
                                  description: Start date of the tactics within this group's flight.
                                to:
                                  type: string
                                  description: End date of the tactics within this group's flight.
                            even_delivery_enabled:
                              type: boolean
                              description: Set to True if the budget amount should be evenly delivered throughout the day.
                            type:
                              type: string
                              description: 'Budget type. Possible values are: all_time, daily'
                            amount:
                              type: string
                              description: Budget amount, USD
                        status:
                          type: string
                          description: The tactic's status controls whether campaigns in the group can bid on impressions.
                        pacing_setting:
                          type: string
                          description: Controls whether budget pacing is controlled at the group or tactic level.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  message:
                    type: string
      summary: Get groups
      x-summary-source: derived
      operationId: getV1Groups
      x-operation-id-source: derived
  /v1/tactics/{id}:
    get:
      tags:
      - Analytics
      description: Returns details for a single Tactic.
      parameters:
      - schema:
          type: string
          pattern: ^[0-9]+$
        in: path
        name: id
        required: true
        description: Identifies a single tactic id. In the absence of this id, all tactics that this user has access to should be returned.
      security:
      - Bearer: []
        OAuth2: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                description: Successful Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: Identifies a single tactic.
                      name:
                        type: string
                        description: The display name for the requested tactic.
                      group_id:
                        type: integer
                        description: Identifies the single group ID that is a parent of the requested tactic.
                      budget:
                        type: object
                        description: The budget settings for this tactic.
                        properties:
[...]
